@import "../../../../index.css";

/* Estilos generales */
.tutorial {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
}

.tutorial h1 {
  font-family: var(--fontPrimary);
  letter-spacing: 2px;
}

.tutorial h3 {
  font-family: var(--fontSecondary);
  text-align: center;
  font-weight: normal;
}

.boxCardTuto {
  width: 80%;
  margin: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cardTutorial {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 300px;
  position: relative;
  margin-bottom: 50px;
}

.CircleTutorial {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 15px rgba(36, 36, 36, 0.3);
}

.CircleTutorial img {
  width: 50%;
}

.circleNumber {
  position: relative;
  top: -190px;
  left: 60px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 5px solid white;
  box-shadow: 0px 0px 15px rgba(36, 36, 36, 0.3);
}

.circleNumber p {
  font-size: 25px;
  color: white;
  font-family: var(--fontPrimary);
}

.titleCardTuto {
  font-size: 20px !important;
  font-family: var(--fontSecondary) !important;
  font-weight: bold;
}

.cardTutorial h3 {
  font-size: 18px !important;
}

/* Colores específicos */
#circle1,
#circleNumb1 {
  background-color: #6f4be5;
}
#circle2,
#circleNumb2 {
  background-color: #128c7e;
}
#circle3,
#circleNumb3 {
  background-color: rgb(36, 36, 36);
}
#title1 {
  color: #6f4be5;
}
#title2 {
  color: #128c7e;
}
#title3 {
  color: rgb(36, 36, 36);
}

/* Media Queries */
@media (max-width: 425px) {
  .tutorial {
    top: -60px;
  }

  .tutorial h1 {
    font-size: 1.7rem;
  }

  .tutorial h3 {
    font-size: 1rem;
    width: 90%;
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  .tutorial {
    top: -60px;
  }

  .tutorial h1 {
    font-size: 1.7rem;
  }

  .tutorial h3 {
    font-size: 1rem;
    width: 90%;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .tutorial {
    top: -100px;
  }

  .tutorial h1 {
    font-size: 3.5rem;
  }

  .tutorial h3 {
    font-size: 1.7rem;
    width: 875px;
  }

  .boxCardTuto {
    margin: 100px;
    flex-direction: row;
  }
}

@media (min-width: 1025px) and (max-width: 1440px) {
  .tutorial {
    top: -100px;
  }

  .tutorial h1 {
    font-size: 3.5rem;
  }

  .tutorial h3 {
    font-size: 1.7rem;
    width: 875px;
  }

  .boxCardTuto {
    margin: 100px;
    flex-direction: row;
  }
}

@media (min-width: 1441px) {
  .tutorial {
    top: -100px;
  }

  .tutorial h1 {
    font-size: 3.5rem;
  }

  .tutorial h3 {
    font-size: 1.7rem;
    width: 875px;
  }

  .boxCardTuto {
    margin: 100px;
    flex-direction: row;
  }
}
