/* Propiedades comunes */
.containCard {
  width: 80%;
  display: grid;
  grid-gap: 15px;
  justify-content: center;
}

@media (max-width: 425px) {
  .containCard {
    grid-template-columns: repeat(1, 250px);
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  .containCard {
    grid-template-columns: repeat(2, 250px);
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .containCard {
    grid-template-columns: repeat(4, 250px);
  }
}

@media (min-width: 1025px) {
  .containCard {
    grid-template-columns: repeat(4, 250px);
  }
}
