.payment {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
  overflow: hidden;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1094%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(77%2c 78%2c 79%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c559.067C101.712%2c543.736%2c167.594%2c450.513%2c258.022%2c401.49C358.257%2c347.15%2c488.163%2c344.376%2c559.736%2c255.623C637.432%2c159.277%2c684.8%2c26.236%2c658.1%2c-94.621C631.718%2c-214.037%2c523.289%2c-296.891%2c422.402%2c-366.014C337.588%2c-424.125%2c235.141%2c-439.69%2c133.351%2c-454.152C44.403%2c-466.79%2c-42.745%2c-463.645%2c-130.539%2c-444.576C-224.272%2c-424.216%2c-325.86%2c-409.108%2c-392.344%2c-339.968C-459.957%2c-269.654%2c-467.498%2c-165.345%2c-490.254%2c-70.488C-515.36%2c34.167%2c-564.721%2c140.455%2c-532.206%2c243.05C-498.473%2c349.486%2c-409.378%2c430.613%2c-313.373%2c487.619C-219.347%2c543.45%2c-108.131%2c575.366%2c0%2c559.067' fill='%23323333'%3e%3c/path%3e%3cpath d='M1440 1088.08C1552.519 1093.5320000000002 1676.954 1137.0529999999999 1770.843 1074.8020000000001 1864.663 1012.597 1890.434 885.9390000000001 1911.623 775.383 1929.586 681.66 1889.364 591.615 1881.683 496.496 1873.335 393.122 1935.057 268.181 1864.524 192.14800000000002 1793.475 115.55799999999999 1659.723 182.35500000000002 1560.354 150.11 1456.443 116.39100000000002 1384.816-7.389999999999986 1275.905 1.1420000000000528 1166.4279999999999 9.717999999999961 1089.3600000000001 110.88400000000001 1016.162 192.74200000000002 942.0029999999999 275.674 860.558 364.522 851.793 475.429 843.169 584.541 922.173 676.197 970.179 774.56 1016.8240000000001 870.134 1040.68 984.674 1129.141 1043.7060000000001 1218.006 1103.007 1333.291 1082.909 1440 1088.08' fill='%2368696b'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1094'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  background-size: cover;
}

.payment h2 {
  font-size: 2.2rem;
  margin: 0 0 50px 0;
  color: white;
}

.box-payment {
  width: 75%;
  height: fit-content;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.payment img {
  width: 35%;
  filter: drop-shadow(0px 0px 9px rgba(0, 0, 0, 0.3));
}

@media (max-width: 425px) {
  .payment {
    height: 175px;
  }
}

@media (min-width: 769px) {
  .payment {
    height: 300px;
  }
}
